<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>harmful_mouse_0_death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{122,84}</string>
                <key>spriteSourceSize</key>
                <string>{122,84}</string>
                <key>textureRect</key>
                <string>{{0,0},{122,84}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>harmful_mouse_1_death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{120,87}</string>
                <key>spriteSourceSize</key>
                <string>{120,87}</string>
                <key>textureRect</key>
                <string>{{0,84},{120,87}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kind_mouse_0_death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,70}</string>
                <key>spriteSourceSize</key>
                <string>{117,70}</string>
                <key>textureRect</key>
                <string>{{0,171},{117,70}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>kind_mouse_1_death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{83,65}</string>
                <key>spriteSourceSize</key>
                <string>{83,65}</string>
                <key>textureRect</key>
                <string>{{0,241},{83,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>rabbit_0_death.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{117,69}</string>
                <key>spriteSourceSize</key>
                <string>{117,69}</string>
                <key>textureRect</key>
                <string>{{0,306},{117,69}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>animal_death.png</string>
            <key>size</key>
            <string>{122,375}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18685f8c4a9319e36b9726d461755ac9:721be607100d9ba4088784ae8391f809:45f56dbc1c8d82805a1fb176f9a57c6a$</string>
            <key>textureFileName</key>
            <string>animal_death.png</string>
        </dict>
    </dict>
</plist>
