<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hole_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,45}</string>
                <key>spriteSourceSize</key>
                <string>{138,45}</string>
                <key>textureRect</key>
                <string>{{0,0},{138,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,45}</string>
                <key>spriteSourceSize</key>
                <string>{138,45}</string>
                <key>textureRect</key>
                <string>{{138,0},{138,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,45}</string>
                <key>spriteSourceSize</key>
                <string>{138,45}</string>
                <key>textureRect</key>
                <string>{{276,0},{138,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,45}</string>
                <key>spriteSourceSize</key>
                <string>{138,45}</string>
                <key>textureRect</key>
                <string>{{0,45},{138,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,45}</string>
                <key>spriteSourceSize</key>
                <string>{138,45}</string>
                <key>textureRect</key>
                <string>{{138,45},{138,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,45}</string>
                <key>spriteSourceSize</key>
                <string>{138,45}</string>
                <key>textureRect</key>
                <string>{{276,45},{138,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,45}</string>
                <key>spriteSourceSize</key>
                <string>{138,45}</string>
                <key>textureRect</key>
                <string>{{0,90},{138,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{138,45}</string>
                <key>spriteSourceSize</key>
                <string>{138,45}</string>
                <key>textureRect</key>
                <string>{{138,90},{138,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>hole_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{132,45}</string>
                <key>spriteSourceSize</key>
                <string>{132,45}</string>
                <key>textureRect</key>
                <string>{{276,90},{132,45}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>hole.png</string>
            <key>size</key>
            <string>{414,135}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:64735209ff9d796f11e10d0476ddcd68:ab18a0a177ffa254d1ce1bade5e687b9:ad6b0234d069ba274a9f3599d77f2636$</string>
            <key>textureFileName</key>
            <string>hole.png</string>
        </dict>
    </dict>
</plist>
