<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>gameover_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{165,47}</string>
                <key>spriteSourceSize</key>
                <string>{165,47}</string>
                <key>textureRect</key>
                <string>{{0,35},{165,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>gameover_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{166,47}</string>
                <key>spriteSourceSize</key>
                <string>{166,47}</string>
                <key>textureRect</key>
                <string>{{165,35},{166,47}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{31,79}</string>
                <key>spriteSourceSize</key>
                <string>{31,79}</string>
                <key>textureRect</key>
                <string>{{405,89},{31,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,79}</string>
                <key>spriteSourceSize</key>
                <string>{40,79}</string>
                <key>textureRect</key>
                <string>{{365,89},{40,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>num_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{41,79}</string>
                <key>spriteSourceSize</key>
                <string>{41,79}</string>
                <key>textureRect</key>
                <string>{{324,89},{41,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>pause.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{55,54}</string>
                <key>spriteSourceSize</key>
                <string>{55,54}</string>
                <key>textureRect</key>
                <string>{{427,35},{55,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,30}</string>
                <key>spriteSourceSize</key>
                <string>{79,30}</string>
                <key>textureRect</key>
                <string>{{151,0},{79,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,30}</string>
                <key>spriteSourceSize</key>
                <string>{57,30}</string>
                <key>textureRect</key>
                <string>{{94,0},{57,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,30}</string>
                <key>spriteSourceSize</key>
                <string>{57,30}</string>
                <key>textureRect</key>
                <string>{{230,0},{57,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{348,0},{27,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,25}</string>
                <key>spriteSourceSize</key>
                <string>{23,25}</string>
                <key>textureRect</key>
                <string>{{71,0},{23,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,24}</string>
                <key>spriteSourceSize</key>
                <string>{28,24}</string>
                <key>textureRect</key>
                <string>{{43,0},{28,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,11}</string>
                <key>spriteSourceSize</key>
                <string>{23,11}</string>
                <key>textureRect</key>
                <string>{{0,0},{23,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{61,31}</string>
                <key>spriteSourceSize</key>
                <string>{61,31}</string>
                <key>textureRect</key>
                <string>{{287,0},{61,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>score_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{20,22}</string>
                <key>spriteSourceSize</key>
                <string>{20,22}</string>
                <key>textureRect</key>
                <string>{{23,0},{20,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{331,35},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>sound_open.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{48,48}</string>
                <key>spriteSourceSize</key>
                <string>{48,48}</string>
                <key>textureRect</key>
                <string>{{379,35},{48,48}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{57,57}</string>
                <key>spriteSourceSize</key>
                <string>{57,57}</string>
                <key>textureRect</key>
                <string>{{0,89},{57,57}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,79}</string>
                <key>spriteSourceSize</key>
                <string>{66,79}</string>
                <key>textureRect</key>
                <string>{{258,89},{66,79}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{46,76}</string>
                <key>spriteSourceSize</key>
                <string>{46,76}</string>
                <key>textureRect</key>
                <string>{{165,89},{46,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{63,61}</string>
                <key>spriteSourceSize</key>
                <string>{63,61}</string>
                <key>textureRect</key>
                <string>{{57,89},{63,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,61}</string>
                <key>spriteSourceSize</key>
                <string>{45,61}</string>
                <key>textureRect</key>
                <string>{{120,89},{45,61}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{47,76}</string>
                <key>spriteSourceSize</key>
                <string>{47,76}</string>
                <key>textureRect</key>
                <string>{{211,89},{47,76}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>icon.png</string>
            <key>size</key>
            <string>{482,168}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2f2d4b41775d441b57b90623c5b79537:cff052ca303cda05df2833621380938f:240848ad97db3b21fd898f16a7d3102d$</string>
            <key>textureFileName</key>
            <string>icon.png</string>
        </dict>
    </dict>
</plist>
