<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>start_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,40}</string>
                <key>spriteSourceSize</key>
                <string>{103,40}</string>
                <key>textureRect</key>
                <string>{{0,0},{103,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,39}</string>
                <key>spriteSourceSize</key>
                <string>{103,39}</string>
                <key>textureRect</key>
                <string>{{0,40},{103,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,38}</string>
                <key>spriteSourceSize</key>
                <string>{108,38}</string>
                <key>textureRect</key>
                <string>{{0,366},{108,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,39}</string>
                <key>spriteSourceSize</key>
                <string>{103,39}</string>
                <key>textureRect</key>
                <string>{{0,404},{103,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{68,29}</string>
                <key>spriteSourceSize</key>
                <string>{68,29}</string>
                <key>textureRect</key>
                <string>{{0,79},{68,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{67,29}</string>
                <key>spriteSourceSize</key>
                <string>{67,29}</string>
                <key>textureRect</key>
                <string>{{0,108},{67,29}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,40}</string>
                <key>spriteSourceSize</key>
                <string>{103,40}</string>
                <key>textureRect</key>
                <string>{{0,137},{103,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{106,36}</string>
                <key>spriteSourceSize</key>
                <string>{106,36}</string>
                <key>textureRect</key>
                <string>{{0,177},{106,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{109,37}</string>
                <key>spriteSourceSize</key>
                <string>{109,37}</string>
                <key>textureRect</key>
                <string>{{0,213},{109,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{108,38}</string>
                <key>spriteSourceSize</key>
                <string>{108,38}</string>
                <key>textureRect</key>
                <string>{{0,250},{108,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,39}</string>
                <key>spriteSourceSize</key>
                <string>{103,39}</string>
                <key>textureRect</key>
                <string>{{0,288},{103,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>start_9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{103,39}</string>
                <key>spriteSourceSize</key>
                <string>{103,39}</string>
                <key>textureRect</key>
                <string>{{0,327},{103,39}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>start.png</string>
            <key>size</key>
            <string>{109,443}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c0d3075bfcbd2eb44fe13b6253126d88:0457d9f6ec2de101fc8e40400fba381d:8515f24a45383d6b4899a9e5fc8d6fdf$</string>
            <key>textureFileName</key>
            <string>start.png</string>
        </dict>
    </dict>
</plist>
