<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>time_roller_0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{372,73}</string>
                <key>spriteSourceSize</key>
                <string>{372,73}</string>
                <key>textureRect</key>
                <string>{{0,0},{372,73}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_roller_1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{318,51}</string>
                <key>spriteSourceSize</key>
                <string>{318,51}</string>
                <key>textureRect</key>
                <string>{{0,73},{318,51}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>time_roller_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{295,17}</string>
                <key>spriteSourceSize</key>
                <string>{295,17}</string>
                <key>textureRect</key>
                <string>{{0,124},{295,17}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>time_roller.png</string>
            <key>size</key>
            <string>{372,141}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7215c901b5ce2a5bffb22eda4640459e:d7a723a7c1b6f46b4c4cb6322c3ee3b0:3f247f4a82f6610137b074d9c102f5e7$</string>
            <key>textureFileName</key>
            <string>time_roller.png</string>
        </dict>
    </dict>
</plist>
